body {
    padding-top: 70px;
    font-size: 18px;
    line-height: 1.6;
    color: #1a1a1a;
    word-break: break-all;
    word-wrap: break-word;
    background: #e6e6e6;
    font-family: "PingFang SC", Tahoma, "Microsoft Yahei", sans-serif;
}

h3 {
    color: #00b300;
    line-height: 1.8;
    font-size: 26px;
    border-bottom: 2px dashed #00b300;
    position: relative;
}

h1, h2, h3, h4, h5, h6, strong {
    text-shadow: 0 1px 0px #fff, 0 1px 1px rgba(0, 0, 0, 0.5);
}

article > .title a {
    color: #00b300;
    text-decoration: none;
}

.wrapper {
    padding: 0px 15px 15px 15px;
    display: block;
}

article > .title a:hover {
    color: #009000;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

article > .title:after {
    content: " ";
    position: absolute;
    left: -29px;
    display: inline-block;
    width: 10px;
    height: 50px;
    background-color: rgba(0, 179, 0, 0.66667);
    border-radius: 4px 0 0 4px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.33333);
}